a {
  text-decoration: none;
}

body{
  background-color: #F9F7F5;
}
div{
  width: 1000px;
  border-radius: 5px;
  background-color: #E3F0FB;
  box-shadow: 10px 10px #888888;
  padding: 100px;
  margin: auto;
  margin-top: 100px;
}

@media screen and (max-width:800px) {
  div {
    width: 100px;
    border-radius: 5px;
    background-color: #E3F0FB;
    box-shadow: 10px 10px #888888;
    padding: 100px;
    margin: auto;
    margin-top: 100px;
  }
}

